<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACCEUIL</title>
    <link rel="stylesheet" href="climat.css">
   
</head>
<body>
<nav id="nav-bar">
    <div class="container">
        <img id="logo" src="img/logo.png">
            <p id="phrase"> SITUATION METEOROLOGIQUE</p>
               
    </div>
</nav>
<div class="form-container">
  <p id="ph2" >temrérature et humidité actuelle</p>
  <div id="mesure">
      <p id="temp">{{ temperature }} *C</p>
      <p id="hum">{{ humidity }} %</p>
  </div>
</div>
</body>
</html>
